<%= form_for(@property_field) do |f| %>
  <% if @property_field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_field.errors.count, "error") %> prohibited this property_field from being saved:</h2>



      <ul>
      <% @property_field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :property_id, :value=>params[:q] %>

 <%@property=Property.find(params[:q])%>

<%if @property.property_type=="Hydropower rights"%>

 <div class="field">
  <%= f.label :KWatt_Hours_Annually %><br />
  <%= f.text_field :KWatt_Hours_Annually %>
</div>
<div class="field">
  <%= f.label :Volume_Water %><br />
  <%= f.text_field :Volume_Water %>
</div>
<div class="field">
  <%= f.label :Height_Of_Drop %><br />
  <%= f.text_field :Height_Of_Drop %>
</div>
<div class="field">
  <%= f.label :Efficiency_of_HydroEquipment %><br />
  <%= f.text_field :Efficiency_of_HydroEquipment %>
</div>
<% end %>

<%if @property.entry_type=="Residential for rent" ||  @property.entry_type=="Commercial for lease" || @property.entry_type=="Pop-up shop"%>

<div class="field">
  <label>Available beginning:</label><br />
  <%= f.text_field :available %>
</div>
<%if @property.entry_type=="Residential for rent" %>

<div class="field">
  <%= f.label :pets %><br />
  <%= f.select :pets, ["Any", "None", "Cats only", "Dogs only"] %>
</div>
<div class="field">
  <%= f.label :smoking %><br />
  <%= f.select :smoking, ["Yes","No"] %>
</div>
<%end%>


<% end %>
<%if (@property.property_type=="Condominium" or @property.property_type=="Co-op") and @property.entry_type!="Residential for rent" %>
  <div class="medium_box">
    Homeowner association fee:

    <%= f.text_field :hoa %>
    Annual Real Estate Tax
    <%= f.text_field :Annual_real_estate_tax %>
  </div>

<%end%>
<%if @property.property_type=="Single family house" or @property.property_type=="Multifamily house" or @property.property_type=="Condominium" or @property.property_type=="Co-op" %>

  <div class="medium_box">
    <%= f.label :year_built %><br />
    <%= f.text_field :year_built %>
  </div>
  <div class="field">
    Exposure: <br/>
   <%= f.check_box :north %> <span id="paddingtop">North</span> 
   <%= f.check_box :south %> <span id="paddingtop">South </span>
   <%= f.check_box :east %> <span id="paddingtop">East </span>
   <%= f.check_box :west %> <span id="paddingtop">West </span>


  </div>
<div style="width:100%">
<div style="float:left;width:120px">
  <div class="box_width narrow_box">
	Total Rooms
    <%= f.text_field :total_rooms %>
  </div>
</div>

  <div style="float:left;width:100px">
  <div class="box_width narrow_box">
    Bedrooms <input id="property_field_bedrooms" name="property_field[bedrooms]" size="10" type="text" />
   </div>
  </div>

  <div style="float:left;width:100px">
  <div class="box_width narrow_box">
    Full bath
    <input id="property_field_full_bath" name="property_field[full_bath]" size="10" type="text" />
  </div>
  </div>

  <div style="float:left;width:100px">
  <div class="box_width narrow_box">
    Half bath
    <input id="property_field_half_bath" name="property_field[half_bath]" size="10" type="text" />
  </div>
  </div>



  <div style="float:left;width:120px">	
	<div class="narrow_box">
     quarter bath:      <%= f.text_field :quarter_bath %>
    </div>
  </div>

  
</div>
<br/><br/>

<div style="float:left;width:200px">
	<div class="narrow_box">
      elevator: 
    <% [ 'Yes', 'No'].each do |theme| %>
      <%= radio_button 'theme', theme, @theme == theme %>
      <%= theme.humanize %>
    <% end %>
   </div>
  </div><br/><br/>

  <div class="field">
    <%= f.label :outdoor_space %><br />
    <%= f.text_field :outdoor_space %>
  </div>

  <div class="field">
    <%= f.label :unit_placement %><br />
    <%= f.text_field :unit_placement %>
  </div>


 <%if @property.entry_type=="Commercial for sale" || @property.entry_type=="Commercial for lease" and (@property.property_type!="Hydropower rights" || @property.property_type!="Cell tower leasing")%>
  <div class="field">
    <%= f.label :Clear_Height %><br />
    <%= f.text_field :Clear_Height %>
  </div>
<div class="field">
  <%= f.label :Electrical_Service %><br />
  <%= f.text_field :Electrical_Service %>
</div>
<% end %>


  <div class="field">
    <%= f.label :Roof %><br />
    <%= f.text_field :Roof %>
  </div>

  <div class="field">
    <%= f.label :FAR %><br />
    <%= f.text_field :FAR %>
  </div>

  <div class="field">
    <%= f.label :Sewer %><br />
    <%= f.text_field :Sewer %>
  </div>

  <div class="field">
    <%= f.label :City_Water %><br />
    <%= f.text_field :City_Water %>
  </div>


<%end%>


<%if @property.entry_type=="Commercial for sale" or @property.entry_type=="Commercial for lease" or @property.entry_type=="Pop-up shop"%>

  <div class="field">
    <%= f.label :zoning %><br />
    <%= f.text_field :zoning %>
  </div>
  <div class="field">
    <%= f.label :year_built %><br />
    <%= f.text_field :year_built %>
  </div>
  <div class="field">
    <%= f.label :unit_placement %><br />
    <%= f.text_field :unit_placement %>
  </div>
  <div class="field">
    <%= f.label :price_per_sqft %><br />
    <%= f.text_field :price_per_sqft %>
  </div>
  <div class="field">
    <%= f.label :when_available %><br />
    <%= f.text_field :when_available %>
  </div>
  <div class="field">
    <%= f.label :Clear_Height %><br />
    <%= f.text_field :Clear_Height %>
  </div>
<div class="field">
  <%= f.label :Electrical_Service %><br />
  <%= f.text_field :Electrical_Service %>
</div>
  <div class="field">
    <%= f.label :Sewer %><br />
    <%= f.text_field :Sewer %>
  </div>
  <div class="field">
    <%= f.label :Load_Capacity %><br />
    <%= f.text_field :Load_Capacity %>
  </div>
  <div class="field">
    <%= f.label :Loading_Docks %><br />
    <%= f.text_field :Loading_Docks %>
  </div>
<%end%>

<%if @property.entry_type=="Commercial for sale"%>

<div class="field">
  <%= f.label :Cap_Rate %><br />
  <%= f.text_field :Cap_Rate %>
</div>
<div class="field">
  <%= f.label :FAR %><br />
  <%= f.text_field :FAR %>
</div>
<div class="field">
  <%= f.label :Roof %><br />
  <%= f.text_field :Roof %>
</div>
<%end%>

<%if @property.entry_type=="Assumable mortgage exchange"%>

<div class="control-group">
  <%= f.label :marketvalue, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :marketvalue, :class => 'text_field' %>
  </div>
</div>
 <div class="control-group">
   <%= f.label :mortgageamount, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :mortgageamount, :class => 'text_field' %>
   </div>
 </div>
 <div class="control-group">
   <%= f.label :mortgageAPR, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :mortgageAPR, :class => 'text_field' %>
   </div>
 </div>
 <div class="control-group">
   <%= f.label :mortgagetype, :class => 'control-label' %>
   <div class="controls">
     <%= f.select :mortgagetype, ["","Adjustable rate mortgage", "Fixed, 30 year", "Fixed, 15 year", "Other"].sort,:class => 'text_field' %>
   </div>
 </div>
<%end%>

  <div class="actions">
    <%= f.submit %>
  </div>



<% end %>
<script>
$(function() {
  $('#property_field_available').datepicker(	{
	showOn: "button",
	buttonImage: "/calendar.gif",
	buttonImageOnly: true
	});
});
</script>



