<p id="notice"><%= notice %></p>

<p>
  <b>Zoning:</b>
  <%= @property_field.zoning %>
</p>

<p>
  <b>Year built:</b>
  <%= @property_field.year_built %>
</p>

<p>
  <b>Exposure:</b>
  <%= @property_field.exposure %>
</p>

<p>
  <b>Pets:</b>
  <%= @property_field.pets %>
</p>

<p>
  <b>Unit placement:</b>
  <%= @property_field.unit_placement %>
</p>

<p>
  <b>Price per sqft:</b>
  <%= @property_field.price_per_sqft %>
</p>

<p>
  <b>When available:</b>
  <%= @property_field.when_available %>
</p>

<p>
  <b>Smoking:</b>
  <%= @property_field.smoking %>
</p>

<p>
  <b>Clear height:</b>
  <%= @property_field.Clear_Height %>
</p>

<p>
  <b>Cap rate:</b>
  <%= @property_field.Cap_Rate %>
</p>

<p>
  <b>Roof:</b>
  <%= @property_field.Roof %>
</p>

<p>
  <b>Electrical service:</b>
  <%= @property_field.Electrical_Service %>
</p>

<p>
  <b>Kwatt hours annually:</b>
  <%= @property_field.KWatt_Hours_Annually %>
</p>

<p>
  <b>Volume water:</b>
  <%= @property_field.Volume_Water %>
</p>

<p>
  <b>Height of drop:</b>
  <%= @property_field.Height_Of_Drop %>
</p>

<p>
  <b>Efficiency of hydroequipment:</b>
  <%= @property_field.Efficiency_of_HydroEquipment %>
</p>

<p>
  <b>Far:</b>
  <%= @property_field.FAR %>
</p>

<p>
  <b>Sewer:</b>
  <%= @property_field.Sewer %>
</p>

<p>
  <b>Load capacity:</b>
  <%= @property_field.Load_Capacity %>
</p>

<p>
  <b>Loading docks:</b>
  <%= @property_field.Loading_Docks %>
</p>

<p>
  <b>Special permit:</b>
  <%= @property_field.Special_Permit %>
</p>

<p>
  <b>Construction docs ready:</b>
  <%= @property_field.Construction_Docs_Ready %>
</p>

<p>
  <b>City water:</b>
  <%= @property_field.City_Water %>
</p>

<p>
  <b>Zoning permit:</b>
  <%= @property_field.Zoning_Permit %>
</p>


<%= link_to 'Edit', edit_property_field_path(@property_field) %> |
<%= link_to 'Back', property_fields_path %>
