<%= form_for @property, :html => { :multipart => true } do |f| %>

<div class="custom_width2">Entry type <br/>


      <%= f.select :entry_type, ["Architectural salvage & antiques", "Assumable mortgage exchange","Residential for sale","Residential for rent","Commercial for sale", "Commercial for lease", "Pop-up shop"].sort, :class => 'text_field' %>
 
</div>
    Listing type 

<div id="property_type">
<%= f.select :property_type, ["Cell tower leasing", "Occupied residential properties", "Farmland", "Industrial", "Restaurant", "Mixed use", "Tenancy-in-common", "Permitted properties", "Parking",  "School loan debt",  "Single family house", "Multifamily house", "Condominium", "Co-op","Hydropower rights"].sort, :class => 'text_field' %>
</div>
<div id="property_type_assumable">
<%= f.select :property_type, ["Single family house", "Multifamily house", "Condominium", "Co-op"].sort, :class => 'text_field' %>
</div>
<div id="property_type_residential_for_rent">
<%= f.select :property_type, ["Single family house", "Multifamily house", "Condominium", "Co-op"].sort, :class => 'text_field' %>
</div>
<div id="property_type_residential_for_sale">
<%= f.select :property_type, ["Single family house", "Multifamily house", "Condominium", "Co-op", "Occupied residential properties",].sort, :class => 'text_field' %>
</div>
<div id="property_type_commercial_for_sale">
<%= f.select :property_type, ["Farmland", "Industrial", "Restaurant", "Mixed use", "Tenancy-in-common", "Permitted properties", "Parking", "Hydropower rights"].sort, :class => 'text_field' %>
</div>
<div id="property_type_commercial_for_lease">
<%= f.select :property_type, ["Cell tower leasing", "Farmland", "Industrial", "Restaurant", "Mixed use", "Tenancy-in-common", "Permitted properties", "Parking", "Hydropower rights"].sort, :class => 'text_field' %>
</div>

<div id="property_type2">
<%= f.select :property_type, ["Cell tower leasing", "Occupied residential properties", "Farmland", "Industrial", "Restaurant", "Mixed use", "Tenancy-in-common", "Permitted properties", "Parking",  "School loan debt",  "Single family house", "Multifamily house", "Condominium", "Co-op","Hydropower rights"].sort, :class => 'text_field' %>
</div>
   <br/>
      Address1:
      <%= f.text_field :address1, :class => 'text_field' %>
      Address2:
      <%= f.text_field :address2, :class => 'text_field' %>
  <br/>
  <div class="control-group">
      City:
      <%= f.text_field :city, :class => 'text_field' %>
      State:
      <%= f.select :state, states = Array[ ["AK", "Alaska"],
	["AL", "Alabama"],
	["AR", "Arkansas"],
	["AS", "American Samoa"],
	["AZ", "Arizona"],
	["CA", "California"],
	["CO", "Colorado"],
	["CT", "Connecticut"],
	["DC", "District of Columbia"],
	["DE", "Delaware"],
	["FL", "Florida"],
	["GA", "Georgia"],
	["GU", "Guam"],
	["HI", "Hawaii"],
	["IA", "Iowa"],
	["ID", "Idaho"],
	["IL", "Illinois"],
	["IN", "Indiana"],
	["KS", "Kansas"],
	["KY", "Kentucky"],
	["LA", "Louisiana"],
	["MA", "Massachusetts"],
	["MD", "Maryland"],
	["ME", "Maine"],
	["MI", "Michigan"],
	["MN", "Minnesota"],
	["MO", "Missouri"],
	["MS", "Mississippi"],
	["MT", "Montana"],
	["NC", "North Carolina"],
	["ND", "North Dakota"],
	["NE", "Nebraska"],
	["NH", "New Hampshire"],
	["NJ", "New Jersey"],
	["NM", "New Mexico"],
	["NV", "Nevada"],
	["NY", "New York"],
	["OH", "Ohio"],
	["OK", "Oklahoma"],
	["OR", "Oregon"],
	["PA", "Pennsylvania"],
	["PR", "Puerto Rico"],
	["RI", "Rhode Island"],
	["SC", "South Carolina"],
	["SD", "South Dakota"],
	["TN", "Tennessee"],
	["TX", "Texas"],
	["UT", "Utah"],
	["VA", "Virginia"],
	["VI", "Virgin Islands"],
	["VT", "Vermont"],
	["WA", "Washington"],
	["WI", "Wisconsin"],
	["WV", "West Virginia"],
	["WY", "Wyoming"] ], :class => 'custom_size' %>
      Zip Code:
      <%= f.text_field :zipcode, :class => 'text_field custom_size' %>
    
</div>

<div class="control-group">
<label>Approx. Interior Sq.Ft. </label>
  <div class="controls">
    <%= f.text_field :sqft, :class => 'text_field' %>
  </div>
</div>

<div id="layout_select1">

</div>
<div id="layout_select2">


 <div class="control-group">
   <%= f.label :marketvalue, :class => 'control-label' %>
   <div class="controls">
     <%= f.text_field :marketvalue, :class => 'text_field' %>
   </div>
 </div>
  <div class="control-group">
    <%= f.label :mortgageamount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mortgageamount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mortgageAPR, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mortgageAPR, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mortgagetype, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :mortgagetype, ["","Adjustable rate mortgage", "Fixed, 30 year", "Fixed, 15 year", "Other"].sort,:class => 'text_field' %>
    </div>
  </div>

</div>
<div id="salvage_type">
	 <%= f.select :salvage_type, ["Doors", "Windows", "Fireplace mantels", "Fireplace mantle accessories", "Hardware", "Stair parts", "Cabinetry", "Millwork", "Kitchen & bath",  "Sinks",  "Marble sinks", "Bathtubs", "Lighting", "Ironwork","Reclaimed lumber", "Fixtures & fittings", "Floor grates", "Brick & granite", "Stained glass", "Furniture"].sort, :class => 'text_field' %>
</div>

<div id="celltower_type">
	 <%= f.select :celltower_type, ["Church steeple", "Rooftop cellular antenna", "Guyed cell tower", "Stealth cell tower"].sort, :class => 'text_field' %>
</div>



Upload photo:
   <%=f.file_field :photo %>
<br/>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area custom_description' %>
    </div>
  </div>


  <div class="form-actions">
<input class="btn btn-primary" id="new_property" name="commit" type="submit" value="Create Property" />    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                properties_path, :class => 'btn' %>
  </div>
<% end %>

<script>
$(document).ready(function(){
   $("#property_property_type").trigger('change');
});
    $("#property_property_type").change(function() {
	
       if ($(this).val() != "Architectural salvage & antiques" && $(this).val() != "Farmland"  && $(this).val() != "Tenancy-in-common"  && $(this).val() != "Permitted properties"  && $(this).val() != "Parking"  && $(this).val() != "School loan debt"  && $(this).val() != "Hydropower rights"  && $(this).val() != "Cell tower leasing") 
            {
            $("#layout_select1").html("Asking Price<input class='text_field' id='property_Asking_Price' name='property[Asking_Price]' size='30' type='text' /><br/>Parking <input class='text_field' id='property_Parking_Spaces' name='property[Parking_Spaces]' size='30' type='text' />"); 
            }
           else
            {
            $("#layout_select1").html("Asking Price<input class='text_field' id='property_Asking_Price' name='property[Asking_Price]' size='30' type='text' />");
            }

	       if ($(this).val() == "Architectural salvage & antiques") 
	            {
	            $("#salvage_type").show(); 
	            }
	           else
	            {
	            $("#salvage_type").hide();
	            }

               if ($(this).val() == "Cell tower leasing") 
		            {
		            $("#celltower_type").show(); 
		            }
		           else
		            {
		            $("#celltower_type").hide();
		            }  
    });


	$(document).ready(function(){
	   $("#property_entry_type").trigger('change');
	});

  $("#property_entry_type").change(function() {


	       if ($(this).val() == "Assumable mortgage exchange") 
	            {
	            $("#layout_select2").show(); 
	            $("#property_type").hide(); 
	            $("#property_type_assumable").show(); 
	            
	            }
	           else
	            {
	            $("#layout_select2").hide();
	            $("#property_type").show(); 
				$("#property_type_assumable").hide(); 
	            }

		       if ($(this).val() == "Commercial for sale") 
		            {
		            $("#layout_select2").hide(); 
		            $("#property_type").hide(); 
		            $("#property_type_assumable").hide(); 
		            $("#property_type_residential_for_rent").hide(); 
		            $("#property_type_residential_for_sale").hide(); 
		            $("#property_type_commercial_for_sale").show();
		            $("#property_type_commercial_for_sale").hide();
		
		            }
		           else
		            {
		            $("#layout_select2").hide();
		            $("#property_type").show(); 
					$("#property_type_assumable").hide(); 
		            }

    });


</script>

