<%= form_for @property, :html => { :multipart => true } do |f| %>
   <%=f.file_field :photo %>

  <div class="control-group">
	 <label>Listing Type</label>
 <div class="controls">
      <%= f.select :property_type, ["","Residential for sale","Residential for rent","Commercial for sale", "Commercial for rent", "Occupied residential properties", "Farm", "Industrial", "Restaurant", "Mixed use", "Tenancy-in-common", "Permitted properties", "Parking", "Pop-up shop", "School loan debt", "Assumable mortgage ", "Hydropower rights"].sort, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zipcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :marketvalue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :marketvalue, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :sqft, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sqft, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :mortgageamount, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mortgageamount, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mortgageAPR, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mortgageAPR, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mortgagetype, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :mortgagetype, ["","Adjustable", "Fixed, 30 year", "Fixed, 15 year", "Other"].sort,:class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :entry_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :entry_type, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                properties_path, :class => 'btn' %>
  </div>
<% end %>
