<%= form_for @neighborhood, :html => { :multipart => true } do |f| %>
  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

<label>Upload photo </label>
   <%=f.file_field :photo %>
</div>

<%#=f.text_field :y_position %>

<input id="neighborhood_y_position" type="hidden" size="30" name="neighborhood[y_position]"></input>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Zip codes</label><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>



  <div class="field">
    <%= f.label :boundaries %><br />
    <%= f.text_area :boundaries %>
  </div>



  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_area :history %>
  </div>

  <div class="field">
    <%= f.label :housing_stock %><br />
    <%= f.text_area :housing_stock, :rows=>10, :cols=>80 %>
  </div>



  <div class="field">
    <%= f.label :of_note %><br />
    <%= f.text_area :of_note %>
  </div>


  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>




  <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>





  <div class="field">
    <%= f.label :population_density %><br />
    <%= f.text_field :population_density %>
  </div>


  <div class="field">
    <%= f.label :average_income %><br />
    <%= f.text_field :average_income %>
  </div>



  <div class="field">
     <label>% of people with college degree</lable><br />
    <%= f.text_field :percent_college %>
  </div>

  <div class="field">
     <label>% of people with graduate degree</lable><br />
    <%= f.text_field :percent_graduate_degree %>
  </div>


  <div class="field">
    <label>Teen pregnancy rates</lable><br />
    <%= f.text_field :average_age_mother%>
  </div>


  <div class="field">
    <%= f.label :residential_vacancy_rate %><br />
    <%= f.text_field :residential_vacancy_rate %>
  </div>


<div id="nyc">
  <div class="field">
    <%= f.label :community_board %><br />
    <%= f.text_field :community_board %>
  </div>


  <div class="field">
    <label for="neighborhood_nypd_precinct">
	      NYPD Precinct
	    </label><br />
    <%= f.text_field :nypd_precinct %>
  </div>
</div>



<div class="field">
  <%= f.label :political_affiliation %><br />
  <%= f.text_field :political_affiliation %>
</div>



<b>Co-op</b>

<div class="field">
   <label>Studio Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :studio_low %>
</div>

<div class="field">
   <label>Studio Sale High/Sq. ft.</lable><br />
  <%= f.text_field :studio_high_string %>
</div>

<div class="field">
   <label>Studio Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :studio_median %>
</div>


<div class="field">
   <label>1BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_low %>
</div>

<div class="field">
   <label>1BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_high %>
</div>

<div class="field">
   <label>1BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_median %>
</div>


<div class="field">
   <label>2BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_low %>
</div>

<div class="field">
   <label>2BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_high %>
</div>

<div class="field">
   <label>2BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_median %>
</div>


<div class="field">
   <label>3BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_low %>
</div>

<div class="field">
   <label>3BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_high %>
</div>

<div class="field">
   <label>3BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_median %>
</div>



<div class="field">
   <label>Studio Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_low_rent %>
</div>

<div class="field">
   <label>Studio Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_high_rent_string %>
</div>

<div class="field">
   <label>Studio Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_median_rent %>
</div>


<div class="field">
   <label>1BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_low_rent %>
</div>

<div class="field">
   <label>1BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_high_rent %>
</div>

<div class="field">
   <label>1BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_median_rent %>
</div>


<div class="field">
   <label>2BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_low_rent %>
</div>

<div class="field">
   <label>2BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_high_rent %>
</div>

<div class="field">
   <label>2BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_median_rent %>
</div>


<div class="field">
   <label>3BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_low_rent %>
</div>

<div class="field">
   <label>3BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_high_rent %>
</div>

<div class="field">
   <label>3BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_median_rent %>
</div>

<b>Condo</b>







<div class="field">
   <label>Studio Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :studio_low_condo %>
</div>

<div class="field">
   <label>Studio Sale High/Sq. ft.</lable><br />
  <%= f.text_field :studio_high_condo_string %>
</div>

<div class="field">
   <label>Studio Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :studio_median_condo %>
</div>


<div class="field">
   <label>1BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_low_condo %>
</div>

<div class="field">
   <label>1BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_high_condo %>
</div>

<div class="field">
   <label>1BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_median_condo %>
</div>


<div class="field">
   <label>2BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_low_condo %>
</div>

<div class="field">
   <label>2BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_high_condo %>
</div>

<div class="field">
   <label>2BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_median_condo %>
</div>


<div class="field">
   <label>3BR Sale Low/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_low_condo %>
</div>

<div class="field">
   <label>3BR Sale High/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_high_condo %>
</div>

<div class="field">
   <label>3BR Sale Median/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_median_condo %>
</div>








<div class="field">
   <label>Studio Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_low_rent_condo %>
</div>

<div class="field">
   <label>Studio Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_high_rent_condo_string %>
</div>

<div class="field">
   <label>Studio Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :studio_median_rent_condo %>
</div>


<div class="field">
   <label>1BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_low_rent_condo %>
</div>

<div class="field">
   <label>1BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_high_rent_condo %>
</div>

<div class="field">
   <label>1BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :one_bedroom_median_rent_condo %>
</div>


<div class="field">
   <label>2BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_low_rent_condo %>
</div>

<div class="field">
   <label>2BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_high_rent_condo %>
</div>

<div class="field">
   <label>2BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :two_bedroom_median_rent_condo %>
</div>


<div class="field">
   <label>3BR Rent low_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_low_rent_condo %>
</div>

<div class="field">
   <label>3BR Rent high_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_high_rent_condo %>
</div>

<div class="field">
   <label>3BR Rent median_rent/Sq. ft.</lable><br />
  <%= f.text_field :three_bedroom_median_rent_condo %>
</div>




  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
