<%= form_for(@neighborhood) do |f| %>
  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Zip codes</label><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :housing_stock %><br />
    <%= f.text_field :housing_stock %>
  </div>

  <div class="field">
    <%= f.label :boundaries %><br />
    <%= f.text_area :boundaries %>
  </div>



  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_area :history %>
  </div>

  <div class="field">
    <%= f.label :notable_resident %><br />
    <%= f.text_area :notable_resident %>
  </div>
  <div class="field">
    <%= f.label :of_note %><br />
    <%= f.text_area :of_note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
