<%= form_for @neighborhood, :html => { :multipart => true } do |f| %>
  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">

<label>Upload photo </label>
   <%=f.file_field :photo %>
</div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>Zip codes</label><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>



  <div class="field">
    <%= f.label :boundaries %><br />
    <%= f.text_area :boundaries %>
  </div>



  <div class="field">
    <%= f.label :history %><br />
    <%= f.text_area :history %>
  </div>

  <div class="field">
    <%= f.label :housing_stock %><br />
    <%= f.text_area :housing_stock, :rows=>10, :cols=>80 %>
  </div>



  <div class="field">
    <%= f.label :of_note %><br />
    <%= f.text_area :of_note %>
  </div>


  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>




  <div class="field">
    <%= f.label :population %><br />
    <%= f.text_field :population %>
  </div>





  <div class="field">
    <%= f.label :population_density %><br />
    <%= f.text_field :population_density %>
  </div>


  <div class="field">
    <%= f.label :average_income %><br />
    <%= f.text_field :average_income %>
  </div>



  <div class="field">
     <label>% of people with college degree</lable><br />
    <%= f.text_field :percent_college %>
  </div>

  <div class="field">
     <label>% of people with graduate degree</lable><br />
    <%= f.text_field :percent_graduate_degree %>
  </div>


  <div class="field">
    <label>Teen pregnancy rates</lable><br />
    <%= f.text_field :average_age_mother%>
  </div>


  <div class="field">
    <%= f.label :residential_vacancy_rate %><br />
    <%= f.text_field :residential_vacancy_rate %>
  </div>


<div id="nyc">
  <div class="field">
    <%= f.label :community_board %><br />
    <%= f.text_field :community_board %>
  </div>


  <div class="field">
    <%= f.label :nypd_precinct %><br />
    <%= f.text_field :nypd_precinct %>
  </div>
</div>




  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
