<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>Zip code:</b>
  <%= @neighborhood.zip_code %>
</p>


<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
