<p id="notice"><%= notice %></p>

<div id="neighborhood">
 <b>Teen pregnancy_rate:</b> <%=@neighborhood.average_age_mother %> | <b> Residential vacancy rate: </b>  <%=@neighborhood.residential_vacancy_rate %><% if @neighborhood.city=="Manhattan" || @neighborhood.city=="Brooklyn" || @neighborhood.city=="Queens" || @neighborhood.city=="Bronx" || @neighborhood.city=="Staten Island" %> | <b> Community board: </b>  <%=@neighborhood.community_board %> | <b> NYPD Precinct: </b> <%=@neighborhood.nypd_precinct %> <%end%>
 </div>


<h1>  <%= @neighborhood.name %> </h1>
<div style="font-size:15px;margin-top:-10px;padding-bottom:20px"><%= @neighborhood.city %>  | <b>Zip code(s):</b>
 <%= @neighborhood.zip_code %>
</div>



<p>
<%#= image_tag @neighborhood.photo.url %>
</p>




<table style="font-size:16px;margin-top:20px">
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> Area sq. mi.
	</th>
		
		<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> Population
	</th>
	<th style="border: 1px solid black;padding: 15px 15px 15px 15px; background:#f0f0f0"> Population Density
	</th>
	
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0">Average income
	</th>
	
		<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> % with college/<br/>masters degree	</th>
		<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> Political Affiliation	</th>
	<tr>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.area %> 
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.population %> 
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">
			<%if !@neighborhood.area.blank? and !@neighborhood.population.blank? %>
			
			<%=@neighborhood.population.delete('$,').try(:to_f)/ @neighborhood.area.try(:to_f)%> 
			
			<%end%>
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.average_income %> 
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.percent_college%> <%if !@neighborhood.percent_graduate_degree.blank? %>/ <%=@neighborhood.percent_graduate_degree %><%end%>
			 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.political_affiliation %> 
			 </td>
	</tr>
	
	
</table>	





<br/>

<div style="overflow:hidden">
	<div style="width:42px;float:left">
<div style="float:left;font-size:16px;margin-top:135px;width:32px;height:30px">	
   Sale
</div>

<div style="float:left;font-size:16px;margin-top:20px;width:32px;height:30px">	
   Rent
</div>

</div>


<table style="font-size:16px;margin-top:20px;float:left">	
	<th style="width:161px;border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Studio
	</th>
	<th style="width:160px;border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		1BR
	</th>
	<th style="width:161px;border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		2BR
	</th>
	<th style="width:166px;border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		3BR
	</th>
</table>


<table style="font-size:16px;width:773px;float:left">

	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Co-op
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Condo
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Co-op
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Condo
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Co-op
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Condo
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Co-op
	</th>
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> 
		Condo
	</th>

		

	
	<tr>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.studio_low %><br/>High:<%=@neighborhood.studio_high_string %> <br/>
			Median:<%=@neighborhood.studio_median %>
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> 
			Low:<%=@neighborhood.studio_low_condo %><br/>High:<%=@neighborhood.studio_high_condo_string %> <br/>
				Median:<%=@neighborhood.studio_median_condo %>
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.one_bedroom_low %><br/>High:<%=@neighborhood.one_bedroom_high %> <br/>
				Median:<%=@neighborhood.one_bedroom_median %>
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> 	Low:<%=@neighborhood.one_bedroom_low_condo %><br/>High:<%=@neighborhood.one_bedroom_high_condo %> <br/>
				Median:<%=@neighborhood.one_bedroom_median_condo %>
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.two_bedroom_low %><br/>High:<%=@neighborhood.two_bedroom_high %> <br/>
				Median:<%=@neighborhood.two_bedroom_median %>
			 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">
				Low:<%=@neighborhood.two_bedroom_low_condo %><br/>High:<%=@neighborhood.two_bedroom_high_condo %> <br/>
					Median:<%=@neighborhood.two_bedroom_median_condo %>
			 </td>
			
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.three_bedroom_low %><br/>High:<%=@neighborhood.three_bedroom_high %> <br/>
				Median:<%=@neighborhood.three_bedroom_median %> 
			 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> Low:<%=@neighborhood.three_bedroom_low_condo %><br/>High:<%=@neighborhood.three_bedroom_high_condo %> <br/>
				Median:<%=@neighborhood.three_bedroom_median_condo %>
			 </td>
	</tr>
	
	<tr>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.studio_low_rent %><br/>High:<%=@neighborhood.studio_high_string_rent %> <br/>
			Median:<%=@neighborhood.studio_median_rent %>
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> 
			Low:<%=@neighborhood.studio_low_rent_condo %><br/>High:<%=@neighborhood.studio_high_condo_rent_string %> <br/>
				Median:<%=@neighborhood.studio_median_rent_condo %>
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.one_bedroom_low_rent %><br/>High:<%=@neighborhood.one_bedroom_high_rent %> <br/>
				Median:<%=@neighborhood.one_bedroom_median_rent %>
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> 	Low:<%=@neighborhood.one_bedroom_low_rent)condo %><br/>High:<%=@neighborhood.one_bedroom_high_rent_condo %> <br/>
				Median:<%=@neighborhood.one_bedroom_median_rent_condo %>
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.two_bedroom_low_rent %><br/>High:<%=@neighborhood.two_bedroom_high_rent %> <br/>
				Median:<%=@neighborhood.two_bedroom_median_rent %>
			 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">
				Low:<%=@neighborhood.two_bedroom_low_rent_condo %><br/>High:<%=@neighborhood.two_bedroom_high_rent_condo %> <br/>
					Median:<%=@neighborhood.two_bedroom_median_rent_condo %>
			 </td>
			
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff">Low:<%=@neighborhood.three_bedroom_low_rent %><br/>High:<%=@neighborhood.three_bedroom_high_rent %> <br/>
				Median:<%=@neighborhood.three_bedroom_median_rent %> 
			 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"> Low:<%=@neighborhood.three_bedroom_low_rent_condo %><br/>High:<%=@neighborhood.three_bedroom_high_rent_condo %> <br/>
				Median:<%=@neighborhood.three_bedroom_median_rent_condo %>
			 </td>
	</tr>
	
</table>

</div>

<div style="width:770px;overflow:hidden">


<p>
  <b>Boundaries:</b>
  <%= @neighborhood.boundaries.gsub(/\u000d|\u0009|\u000c|\u0085|\u2028|\u2029|\n/,"<br/>").html_safe  %>
</p>


<p>
  <b>Housing stock:</b>
  <%= @neighborhood.housing_stock.gsub(/\u000d|\u0009|\u000c|\u0085|\u2028|\u2029|\n/,"<br/>").html_safe  %>
</p>






<p>
  <b>History:</b>
  <%= @neighborhood.history.gsub(/\u000d|\u0009|\u000c|\u0085|\u2028|\u2029|\n/,"<br/>").html_safe  %>
</p>



<p>
  <b>Of note:</b>
  <%= @neighborhood.of_note.gsub(/\u000d|\u0009|\u000c|\u0085|\u2028|\u2029|\n/,"<br/>").html_safe  %>
</p>

</div>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back to list of neighborhoods', neighborhoods_path %> | 
<%= link_to 'Add new neighborhood', new_neighborhood_path %>


<div id='map_canvas'></div>


<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(-74.002708,40.739552);
  var mapOptions = {
    zoom: 12,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
		
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>


