<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>Zip code:</b>
  <%= @neighborhood.zip_code %>
</p>

<p>
  <b>City:</b>
  <%= @neighborhood.city %>
</p>

<p>
  <b>Housing stock:</b>
  <%= @neighborhood.housing_stock %>
</p>

<p>
  <b>Wikipedia link:</b>
  <%= @neighborhood.wikipedia_link %>
</p>



<p>
  <b>Boundaries:</b>
  <%= @neighborhood.boundaries %>
</p>


<p>
  <b>History:</b>
  <%= @neighborhood.history %>
</p>


<p>
  <b>Notable Resident:</b>
  <%= @neighborhood.notable_resident %>
</p>


<p>
  <b>Of note:</b>
  <%= @neighborhood.of_note %>
</p>



<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back to list of neighborhoods', neighborhoods_path %>
