<p id="notice"><%= notice %></p>

<div id="neighborhood">
 <b>Teen pregnancy_rate:</b> <%=@neighborhood.average_age_mother %> | <b> Residential vacancy rate: </b>  <%=@neighborhood.residential_vacancy_rate %><% if @neighborhood.city=="Manhattan" || @neighborhood.city=="Brooklyn" || @neighborhood.city=="Queens" || @neighborhood.city=="Bronx" || @neighborhood.city=="Staten Island" %> | <b> Community board: </b>  <%=@neighborhood.community_board %> | <b> NYPD precinct: </b> <%=@neighborhood.nypd_precinct %> <%end%>
 </div>


<h1>  <%= @neighborhood.name %> </h1>
<div style="font-size:15px;margin-top:-10px;padding-bottom:20px"><%= @neighborhood.city %>  | <b>Zip code(s):</b>
 <%= @neighborhood.zip_code %>
</div>



<p>
<%= image_tag @neighborhood.photo.url(:medium) %>
</p>




<table style="font-size:16px;margin-top:20px">
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> Area
	</th>
	
	
		<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> Population
	</th>
	<th style="border: 1px solid black;padding: 15px 15px 15px 15px; background:#f0f0f0"> Population Density
	</th>
	
	<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0">Average income
	</th>
	
		<th style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#f0f0f0"> % with college/masters degree	</th>
	<tr>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.area %> 
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.population %> 
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.population_density %> 
		 </td>
		<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.average_income %> 
		 </td>
			<td style="border: 1px solid black; padding: 15px 15px 15px 15px; background:#fff"><%=@neighborhood.percent_college%> <%if !@neighborhood.percent_graduate_degree.blank? %>/ <%=@neighborhood.percent_graduate_degree %><%end%>
			 </td>
		
	</tr>
	
	
</table>	

<br/>

<div style="width:770px;overflow:hidden">


<p>
  <b>Boundaries:</b>
  <%= @neighborhood.boundaries %>
</p>


<p>
  <b>Housing stock:</b>
  <%= @neighborhood.housing_stock %>
</p>






<p>
  <b>History:</b>
  <%= @neighborhood.history %>
</p>



<p>
  <b>Of note:</b>
  <%= @neighborhood.of_note %>
</p>

</div>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back to list of neighborhoods', neighborhoods_path %>
<%= link_to 'Add new neighborhood', new_neighborhood_path %>
