<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>

  <%= csrf_meta_tags %>
  <%#= tag :meta, :name => "stripe-key",  
    :content => STRIPE_PUBLIC_KEY %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
$(function() {
    $('.carousel').each(function(){
        $(this).carousel({
            interval: false
        });
    });
});​
</script>

<%if params[:controller]=='property_fields' and params[:action]=='new' %>
<script type="text/javascript">
  function run_flood_zones() {

    var encodedQuery = 'SELECT%20%27CAT1NNE%27%2C%20%27geometry%27%20%20FROM%2013uEi2dynsKzdVyegQvO7QH59OOOnjxjd3Ry9BEA%20WHERE%20ST_INTERSECTS%28%27geometry%27%2C%20CIRCLE%28LATLNG%28<%=@property.latitude%>%2C<%=@property.longitude%>%29%2C0.5%29%29%3B';

    // Construct the URL
    var url = ['https://www.googleapis.com/fusiontables/v1/query'];
    url.push('?sql=' + encodedQuery);
    url.push('&key=AIzaSyDZ2O1jph3LLKnnPBvTcMQX37LAcirkQKg');
    url.push('&callback=?');




    // Send the JSONP request using jQuery
    $.ajax({
      url: url.join(''),
      dataType: 'jsonp',
      success: function (data) {
        var rows = data['rows'];
        var ftData = document.getElementById('ft-data');
        for (var i in rows) {
          var zone = rows[i][0];
            $("#property_field_flood_zone").val(zone);

        }
      }
    });
  }
</script>




<%end%>

</head>
<body>
<div style="min-width:1080px;overflow:hidden">
<div id="header">
<div style="margin-left:35px;float:right;margin-top:-12px">
	      <a href="/"><img src="/Lateralmarket-logo-black.jpg" height="60px" width="224px" /></a>
</div>	
</div>


      <div id="header2">

		<div style="float:right;padding-left:10px;margin-top:5px;overflow:hidden">
		  <a href="http://lateralmarket.tumblr.com">
		<img src="http://cdn3.iconfinder.com/data/icons/picons-social/57/55-tumblr-128.png" border=0 width="32px" height="32" />
		  </a>
		</div>

		<div style="float:right;overflow:hidden;margin-top:5px">
		  <a href="http://www.facebook.com/lateralmarket">
		<img src="http://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-128.png" border=0 width="32px" height="32" />
		  </a>
		</div>
		
		
		
		
		<div style="text-transform:uppercase;margin-top:19px">
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <%= link_to "About Us", site_about_us_url %>  &nbsp;   &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <%= link_to "Asset Classes", site_asset_classes_url %>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <%= link_to "How It Works", site_how_it_works_url %> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <a href="/properties/new">Create Listing</a>  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <%= link_to "Contact Us", site_contact_us_url %> 	<%if current_user %> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <a href="/profile/index?id=<%=current_user.id%>">Dashboard</a><%end%>
		
        </div>

</div>


</div>
<%if params[:action]=='show' and params[:controller]=='neighborhoods'%>
<%#= image_tag @neighborhood.photo.url, :class=>'neighborhood' %>
<%#= %>
<style>
div.bg-img {
   /**** background-image: url(<%=@neighborhood.photo.url%>);

    background-position: <%=@neighborhood.crop_x%>px <%=@neighborhood.crop_y%>px;

    background-repeat: no-repeat;
    background-color: clear;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
****/
    margin-left:-<%=@neighborhood.crop_x%>px;
    margin-top:-<%=@neighborhood.crop_y%>px;

    border: 0px solid #aaa;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 500px;
    overflow:hidden;
}
p, #data {
    text-align: center;
}
#data {
    background: red;
    font-weight: bold;
    color: white;
    padding: 5px;
    display:none;
    font-size: 1.4em;
    border: 1px solid #ddd;
}

</style>
<div class="bg-img"><img src="<%=@neighborhood.photo.url(:original)%>"/></div>



<%end%>


<%if params[:action]=='edit' and params[:controller]=='neighborhoods'%>



<script type="text/javascript">
  jQuery(function($){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    
    console.log('init',[xsize,ysize]);
    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      setSelect: [0, 0, 350, 170],
      aspectRatio: xsize / ysize
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;

        $pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      $("#crop_x").val(Math.round(c.x ));
	  $("#crop_y").val(Math.round(c.y ));
	  $("#crop_w").val(Math.round(c.w ));
	  $("#crop_h").val(Math.round(c.h ));

      }
    };

  });


</script>



<style type="text/css">

/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -390px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
#preview-pane .preview-container {
  width: 350px;
  height: 170px;
  overflow: hidden;
}

</style>

<div class="jc-demo-box">

	<%= image_tag @neighborhood.photo.url(:original), :width=>'500px', :id => "target" %>


 	<div id="preview-pane">
	   <div class="preview-container">
			<%#= image_tag @neighborhood.photo.url(:original), :id => "target" %>

	     <img src="<%=@neighborhood.photo.url(:original)%>" class="jcrop-preview" alt="Preview" />
	   </div>
	 </div>

<div class="clearfix"></div>

</div>




<%if 1==2%>

<%= form_for @neighborhood do |f| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= f.text_field attribute, :id => attribute %>
  <% end %>
  <p><%= f.submit "Crop" %></p>
<% end %>
<%end%>

<%end%>




	<div class="container">
	  <div class="row">
	    <div class="span12">
<%= yield %>

    </div>
  </div>
</div>


</body>
</html>
