<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>

  <%= csrf_meta_tags %>
  <%#= tag :meta, :name => "stripe-key",  
    :content => STRIPE_PUBLIC_KEY %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<script>
$(function() {
    $('.carousel').each(function(){
        $(this).carousel({
            interval: false
        });
    });
});​
</script>

<%if params[:controller]=='property_fields' and params[:action]=='new' %>
<script type="text/javascript">
  function run_flood_zones() {

    var encodedQuery = 'SELECT%20%27CAT1NNE%27%2C%20%27geometry%27%20%20FROM%2013uEi2dynsKzdVyegQvO7QH59OOOnjxjd3Ry9BEA%20WHERE%20ST_INTERSECTS%28%27geometry%27%2C%20CIRCLE%28LATLNG%28<%=@property.latitude%>%2C<%=@property.longitude%>%29%2C0.5%29%29%3B';

    // Construct the URL
    var url = ['https://www.googleapis.com/fusiontables/v1/query'];
    url.push('?sql=' + encodedQuery);
    url.push('&key=AIzaSyDZ2O1jph3LLKnnPBvTcMQX37LAcirkQKg');
    url.push('&callback=?');




    // Send the JSONP request using jQuery
    $.ajax({
      url: url.join(''),
      dataType: 'jsonp',
      success: function (data) {
        var rows = data['rows'];
        var ftData = document.getElementById('ft-data');
        for (var i in rows) {
          var zone = rows[i][0];
            $("#property_field_flood_zone").val(zone);

        }
      }
    });
  }
</script>
<%end%>

</head>
<body>
<div style="min-width:1080px">
<div id="header">
<div style="margin-left:35px;float:right;margin-top:-12px">
	      <a href="/"><img src="/Lateralmarket-logo-black.jpg" height="60px" width="224px" /></a>
</div>	
</div>


      <div id="header2">

		<div style="float:right;padding-left:10px;margin-top:5px;overflow:hidden">
		  <a href="http://lateralmarket.tumblr.com">
		<img src="http://cdn3.iconfinder.com/data/icons/picons-social/57/55-tumblr-128.png" border=0 width="32px" height="32" />
		  </a>
		</div>

		<div style="float:right;overflow:hidden;margin-top:5px">
		  <a href="http://www.facebook.com/lateralmarket">
		<img src="http://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-128.png" border=0 width="32px" height="32" />
		  </a>
		</div>
		
		
		
		
		<div style="text-transform:uppercase;margin-top:19px">
         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <%= link_to "About Us", site_about_us_url %>  &nbsp;   &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <%= link_to "Asset Classes", site_asset_classes_url %>  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; <%= link_to "How It Works", site_how_it_works_url %> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <a href="/properties/new">Create Listing</a>  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <%= link_to "Contact Us", site_contact_us_url %> 	<%if current_user %> &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp; <a href="/profile/index?id=<%=current_user.id%>">Dashboard</a><%end%>
		
        </div>

</div>


</div>
<%if (params[:action]=='show' or params[:action]=='edit') and params[:controller]=='neighborhoods'%>
<%#= image_tag @neighborhood.photo.url, :class=>'neighborhood' %>
<%#= %>
<style>
div.bg-img {
    background-image: url(<%=@neighborhood.photo.url%>);

    background-position: 0 <%=@neighborhood.y_position%>px;

    background-repeat: no-repeat;
    background-color: clear;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 0px solid #aaa;
    width: 100%;
    padding: 0px 0px 0px 0px;
    height: 500px;
    margin: 0px auto;
}
p, #data {
    text-align: center;
}
#data {
    background: red;
    font-weight: bold;
    color: white;
    padding: 5px;
    display:none;
    font-size: 1.4em;
    border: 1px solid #ddd;
}

</style>
<div class="bg-img"></div>
<p>
    <input type="text" id="data"/>
</p>



<script>

$(document).ready(function(){
    var $bg = $('.bg-img'),
        data = $('#data')[0],
        elbounds = {
            w: parseInt($bg.width()), 
            h: parseInt($bg.height())
        },
        bounds = {w: 2350 - elbounds.w, h: 1750 - elbounds.h},
        origin = {x: 0, y: 0},
        start = {x: 0, y: 0},
        movecontinue = false;
    
    function move (e){
        var inbounds = {x: false, y: false},
            offset = {
                x: start.x - (origin.x - e.clientX), 
                y: start.y - (origin.y - e.clientY)
            };
        
        data.value = 'X: ' + '0' + ', Y: ' + offset.y;
        inbounds.x = offset.x < 0 && (offset.x * -1) < bounds.w;
        inbounds.y = offset.y < 0 && (offset.y * -1) < bounds.h;
        
        if (movecontinue && inbounds.x && inbounds.y) {
            start.x = offset.x;
            start.y = offset.y;
            
            $(this).css('background-position', '0' + 'px ' + start.y + 'px');
            $('#neighborhood_y_position').val(start.y);
	        
        }
        
        origin.x = e.clientX;
        origin.y = e.clientY;
        
        e.stopPropagation();
        return false;
    }
    
    function handle (e){
        movecontinue = false;
        $bg.unbind('mousemove', move);
        
        if (e.type == 'mousedown') {
            origin.x = e.clientX;
            origin.y = e.clientY;
            movecontinue = true;
            $bg.bind('mousemove', move);
        } else {
            $(document.body).focus();
        }
        
        e.stopPropagation();
        return false;
    }
    
    function reset (){
        start = {x: 0, y: 0};
        $(this).css('backgroundPosition', '0 0');
    }
    
    $bg.bind('mousedown mouseup mouseleave', handle);
    $bg.bind('dblclick', reset);
});
</script>


<%end%>
	<div class="container">
	  <div class="row">
	    <div class="span12">
<%= yield %>

    </div>
  </div>
</div>


</body>
</html>
